{% extends "base.html" %}
{% load blog_tags %}
{% block title %}Log-in{% endblock title %}

{% block content %}
   <h1>Log-in</h1>

   {% if form.erros %}
      <p>Your username and password didn't match. Please try again.</p>
   {% else %}
      <p>If you don't have an account <a href="{% url 'register' %}">register here</a> </p>
   {% endif %}

   <div class="login-form">
      <form method="post" action="{% url 'login' %}">
      {% for visible_field in form.visible_fields %}
         <div class="form-group">
            {{ visible_field.label_tag }} <br/>
            {{ visible_field|addclass:"input-test" }}
            {{ visible_field.errors }} 
         </div>
      {% endfor %}
         {% csrf_token %}
   
         <input type="hidden" name="next" value="{{ next }}" />
         <p>
            <input type="submit" value="Log-in">
         </p>
      </form>
      <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
   </div>

   <div class="social">
      <ul>
         <li class="facebook">
            <a href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>
         </li>
      </ul>
   </div>
{% endblock content %}